body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

h2 {
    margin-top: 30px;
    color: #333;
}

.link-list {
    list-style-type: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
}

.link-list a {
    text-decoration: none;
    color: #1e90ff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.link-list a:hover {
    color: #104e8b;
}

.pdf-container {
    margin-top: 20px;
    border-top: 2px solid #f4f4f4;
    padding-top: 20px;
}

.hidden {
    display: none;
}
